################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TiendaJapSoftware/TiendaJapSoftware.sln

TiendaJapSoftware/.vs/
